{{ $image_tag := env "IMAGE_TAG" | default  (exec "../scripts/branded_image_tag.sh" (list) | trim) }}

domain: freilernen-social-staging.ocelot-social.it4c.org
redirect_domains: []
namespace: freilernen-social-ocelot
image_tag: {{ $image_tag }}
github_repository: IT4Change/freilernen.social
